<div fxLayout="column" fxFill>
    <div fxFlex="35" fxLayout="row" class="space-background">
        <div fxFlex="10" fxLayoutAlign="center center">
            <img src="../../assets/planets/Sun.png" class="sun"/>
        </div>
        <div fxFlex></div>
    </div>
    <div fxFlex fxLayout="row">
        <div fxFlex="30" fxLayout="column" class="form-background">
            <mat-card class="form-style">
                <mat-card-title>{{ 'CARD_HEADLINES.STAR_CONFIGURE' | translate }}</mat-card-title>
                <mat-card-subtitle>
                    <mat-divider></mat-divider>
                </mat-card-subtitle>
                <mat-card-content>
                    <form>
                        <div fxLayout="column">
                            <mat-label>{{ 'STAR_FORM.SELECTOR_RADIO.TITLE' | translate }}:</mat-label>
                            <mat-radio-group fxLayout="row" class="radio-group-spacer" (change)="starChange($event)">
                                <mat-radio-button value="CUSTOM">{{ 'STAR_FORM.SELECTOR_RADIO.CUSTOM' | translate }}
                                </mat-radio-button>
                                <mat-radio-button value="SUN">{{ 'STAR_FORM.SELECTOR_RADIO.SUN' | translate }}
                                </mat-radio-button>
                                <mat-radio-button value="PROXIMA">
                                    {{ 'STAR_FORM.SELECTOR_RADIO.PROXIMA_CENTAURI' | translate }}</mat-radio-button>
                                <mat-radio-button value="PEGASI">{{ 'STAR_FORM.SELECTOR_RADIO.PEGASI' | translate }}
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>

                        <div fxLayout="column">
                            <mat-label>{{ 'STAR_FORM.SEQUENCE.TITLE' | translate }}:</mat-label>
                            <mat-select (selectionChange)="sequenceChanged($event)">
                                <mat-option *ngFor="let sequence of sequences" [value]="sequence.value">
                                    {{ sequence.name }}</mat-option>
                            </mat-select>
                        </div>

                        <div fxLayout="column">
                            <mat-label>{{ 'STAR_FORM.STELLAR_CLASSIFICATION.TITLE' | translate }}:</mat-label>
                            <mat-select>
                                <mat-option value="O">O</mat-option>
                                <mat-option value="B">B</mat-option>
                                <mat-option value="A">A</mat-option>
                                <mat-option value="F">F</mat-option>
                                <mat-option value="G">G</mat-option>
                                <mat-option value="K">K</mat-option>
                                <mat-option value="M">M</mat-option>
                                <mat-option value="L">L</mat-option>
                                <mat-option value="T">T</mat-option>
                            </mat-select>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex fxLayout="column" class="planet-detail-background">
            <mat-card class="planet-detail-style">
                <mat-card-title>{{ 'CARD_HEADLINES.PLANET_DETAILS' | translate }}</mat-card-title>
                <mat-card-subtitle>
                    <mat-divider></mat-divider>
                </mat-card-subtitle>
                <mat-card-content>Dummy</mat-card-content>
            </mat-card>
        </div>
    </div>
</div>