<div fxLayout="column" fxFill>
    <div fxFlex="35" fxLayout="row" class="space-background">
        <ng-container *ngIf="displayRepresentation">
            <div fxFlex="10" fxLayoutAlign="center center">
                <img *ngIf="currentSun" src="../../assets/planets/{{currentSun.imagen}}.png" class="sun" (click)="currentSunInfo()" />
            </div>
            <div fxFlex fxLayout="row" *ngFor="let planet of currentPlanets; index as i">
                <div fxFlex fxLayoutAlign="space-evenly center">
                    <img src="../../assets/planets/{{planet.imagen}}.png" class="planet rotate"
                        (click)="currentPlanetInfo(i)" />
                </div>
            </div>
        </ng-container>
    </div>
    <div fxFlex fxLayout="row">
        <div fxFlex="30" fxLayout="column" class="form-background">
            <mat-card class="form-style">
                <mat-card-title>{{ 'CARD_HEADLINES.STAR_CONFIGURE' | translate }}</mat-card-title>
                <mat-card-subtitle>
                    <mat-divider></mat-divider>
                </mat-card-subtitle>
                <mat-card-content>
                    <form>
                        <div fxLayout="column">
                            <mat-label>{{ 'STAR_FORM.SELECTOR_RADIO.TITLE' | translate }}:</mat-label>
                            <mat-radio-group fxLayout="row" class="radio-group-spacer" (change)="starChange($event)">
                                <mat-radio-button value="CUSTOM">
                                    {{ 'STAR_FORM.SELECTOR_RADIO.CUSTOM' | translate }}
                                </mat-radio-button>
                                <mat-radio-button value="SUN">{{ 'STAR_FORM.SELECTOR_RADIO.SUN' | translate }}
                                </mat-radio-button>
                                <mat-radio-button value="PROXIMA">
                                    {{ 'STAR_FORM.SELECTOR_RADIO.PROXIMA_CENTAURI' | translate }}</mat-radio-button>
                                <mat-radio-button value="PEGASI">{{ 'STAR_FORM.SELECTOR_RADIO.PEGASI' | translate }}
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>

                        <div fxLayout="column">
                            <mat-label>{{ 'STAR_FORM.SEQUENCE.TITLE' | translate }}:</mat-label>
                            <mat-select [formControl]="sequenceControl" (selectionChange)="sequenceChanged($event)">
                                <mat-option *ngFor="let sequence of sequences" [value]="sequence.value">
                                    {{ sequence.name }}</mat-option>
                            </mat-select>
                        </div>

                        <div fxLayout="column">
                            <mat-label>{{ 'STAR_FORM.STELLAR_CLASSIFICATION.TITLE' | translate }}:</mat-label>
                            <mat-select [formControl]="classificationControl"
                                (selectionChange)="classifChanged($event)">
                                <mat-option *ngFor="let clas of classifications" [value]="clas">
                                    {{clas}}
                                </mat-option>
                            </mat-select>
                        </div>

                        <div fxLayout="column">
                            <mat-label>{{ 'STAR_FORM.SELECT_PARAMETER' | translate }}:</mat-label>
                            <mat-radio-group fxLayout="column" class="radio-group-spacer"
                                (change)="radiusMassChange($event)" [formControl]="slidersRadios">
                                <div fxLayout="row" fxLayoutAlign="space-around center">
                                    <mat-radio-button value="RADIUS">
                                        {{ 'STAR_FORM.RADIUS' | translate }}
                                    </mat-radio-button>
                                    <mat-chip-list *ngIf="radiusSliderValue && radiusSlider.enabled">
                                        <mat-chip>{{formatRadius(radiusSliderValue)}}</mat-chip>
                                    </mat-chip-list>
                                </div>
                                <mat-slider step="0.1" [min]="minRadius" [max]="maxRadius"
                                    (change)="radiusSliderChange($event)" [formControl]="radiusSlider"></mat-slider>
                                <div fxLayout="row" fxLayoutAlign="space-around center">
                                    <mat-radio-button value="MASS">
                                        {{ 'STAR_FORM.MASS' | translate }}
                                    </mat-radio-button>
                                    <mat-chip-list *ngIf="massSliderValue && massSlider.enabled">
                                        <mat-chip>{{formatMass(massSliderValue)}}</mat-chip>
                                    </mat-chip-list>
                                </div>
                                <mat-slider step="0.1" [min]="minMass" [max]="maxMass"
                                    (change)="massSliderChange($event)" [formControl]="massSlider"></mat-slider>
                            </mat-radio-group>
                        </div>

                        <div fxLayout="column">
                            <button mat-raised-button color="primary" (click)="generateSolarSystem()"
                                [disabled]="buttonDisabled">{{'STAR_FORM.GENERATE' | translate}}</button>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex fxLayout="column" class="planet-detail-background">
            <mat-card class="planet-detail-style">
                <mat-card-title>
                    <div *ngIf="selectedCorp; else simpleDetails">
                        <span *ngIf="currentPlanetSelected" [translate]="'CARD_HEADLINES.PLANET_DETAILS'"
                            [translateParams]="{name: currentPlanetSelected.name}">
                        </span>
                        <span *ngIf="currentSunSelected" [translate]="'CARD_HEADLINES.SUN_DETAILS'"
                            [translateParams]="{name: currentSunSelected.name}">
                        </span>
                    </div>
                    <ng-template #simpleDetails>
                        <span>{{ 'CARD_HEADLINES.DETAILS' | translate }}</span>
                    </ng-template>
                </mat-card-title>
                <mat-card-subtitle>
                    <mat-divider></mat-divider>
                </mat-card-subtitle>
                <mat-card-content>
                    <div *ngIf="selectedCorp; else selectCorp">
                        <mat-tab-group *ngIf="currentPlanetSelected">
                            <mat-tab label="{{ 'DETAILS.INFO.TITLE' | translate }}">
                                <mat-list dense>
                                    <mat-list-item *ngIf="currentPlanetSelected.name" class="less-font">
                                        <mat-icon>info</mat-icon>
                                        <span [translate]="'DETAILS.INFO.NAME'"
                                            [translateParams]="{name: currentPlanetSelected.name}">
                                        </span>
                                    </mat-list-item>
                                    <mat-list-item *ngIf="currentPlanetSelected.dayDuration !== 0" class="less-font">
                                        <mat-icon>info</mat-icon>
                                        <span [translate]="'DETAILS.INFO.DAY_DURATION'"
                                            [translateParams]="{days: currentPlanetSelected.dayDuration}">
                                        </span>
                                    </mat-list-item>
                                    <mat-list-item *ngIf="currentPlanetSelected.haveAtmosphere; else notatmosphere"
                                        class="less-font">
                                        <mat-icon>info</mat-icon>{{'DETAILS.INFO.HAS_ATMOSPHERE' | translate}}
                                    </mat-list-item>
                                    <ng-template #notatmosphere>
                                        <mat-list-item class="less-font">
                                            <mat-icon>info</mat-icon>{{'DETAILS.INFO.HASNT_ATMOSPHERE' | translate}}
                                        </mat-list-item>
                                    </ng-template>
                                    <mat-list-item *ngIf="currentPlanetSelected.pressure !== 0" class="less-font">
                                        <mat-icon>info</mat-icon>
                                        <span [translate]="'DETAILS.INFO.PRESSURE'"
                                            [translateParams]="{press: currentPlanetSelected.pressure}">
                                        </span>
                                    </mat-list-item>
                                    <mat-list-item *ngIf="currentPlanetSelected.orbitalPeriod !== 0" class="less-font">
                                        <mat-icon>info</mat-icon>
                                        <span [translate]="'DETAILS.INFO.ORBITAL_PERIOD'"
                                            [translateParams]="{period: currentPlanetSelected.orbitalPeriod}">
                                        </span>
                                    </mat-list-item>
                                    <mat-list-item *ngIf="currentPlanetSelected.radius !== 0" class="less-font">
                                        <mat-icon>info</mat-icon>
                                        <span [translate]="'DETAILS.INFO.RADIUS'"
                                            [translateParams]="{radius: currentPlanetSelected.radius}">
                                        </span>
                                    </mat-list-item>
                                    <mat-list-item *ngIf="currentPlanetSelected.isSolid; else notsolid"
                                        class="less-font">
                                        <mat-icon>info</mat-icon>{{'DETAILS.INFO.IS_SOLID' | translate}}
                                    </mat-list-item>
                                    <ng-template #notsolid>
                                        <mat-list-item class="less-font">
                                            <mat-icon>info</mat-icon>{{'DETAILS.INFO.NOT_SOLID' | translate}}
                                        </mat-list-item>
                                    </ng-template>
                                    <mat-list-item *ngIf="currentPlanetSelected.mass !== 0" class="less-font">
                                        <mat-icon>info</mat-icon>
                                        <span [translate]="'DETAILS.INFO.MASS'"
                                            [translateParams]="{mass: currentPlanetSelected.mass}">
                                        </span>
                                    </mat-list-item>
                                    <mat-list-item *ngIf="currentPlanetSelected.magneticField !== 0" class="less-font">
                                        <mat-icon>info</mat-icon>
                                        <span [translate]="'DETAILS.INFO.MAGNETIC_FIELD'"
                                            [translateParams]="{magnetic: currentPlanetSelected.magneticField}">
                                        </span>
                                    </mat-list-item>
                                    <mat-list-item *ngIf="currentPlanetSelected.starDistance !== 0" class="less-font">
                                        <mat-icon>info</mat-icon>
                                        <span [translate]="'DETAILS.INFO.STAR_DISTANCE'"
                                            [translateParams]="{distance: currentPlanetSelected.starDistance}">
                                        </span>
                                    </mat-list-item>
                                    <mat-list-item *ngIf="currentPlanetSelected.surfaceTemperature !== 0"
                                        class="less-font">
                                        <mat-icon>info</mat-icon>
                                        <span [translate]="'DETAILS.INFO.TEMPERATURE'"
                                            [translateParams]="{temp: currentPlanetSelected.surfaceTemperature}">
                                        </span>
                                    </mat-list-item>
                                </mat-list>
                            </mat-tab>
                            <mat-tab label="{{ 'DETAILS.DESCRIPTION' | translate }}">
                                <mat-list dense>
                                    <mat-list-item
                                        *ngFor="let description of currentPlanetSelected.descripciones | keyvalue"
                                        class="less-font">
                                        <mat-icon>info</mat-icon>{{description.value}}
                                    </mat-list-item>
                                </mat-list>
                            </mat-tab>
                        </mat-tab-group>
                        <!--  -->
                        <mat-tab-group *ngIf="currentSunSelected">
                            <mat-tab label="{{ 'DETAILS.INFO.TITLE' | translate }}">
                                <mat-list dense>
                                    <mat-list-item *ngIf="currentSunSelected.name" class="less-font">
                                        <mat-icon>info</mat-icon>
                                        <span [translate]="'DETAILS.SUN.NAME'"
                                            [translateParams]="{name: currentSunSelected.name}">
                                        </span>
                                    </mat-list-item>
                                    <mat-list-item *ngIf="currentSunSelected.luminosidad !== 0" class="less-font">
                                        <mat-icon>info</mat-icon>
                                        <span [translate]="'DETAILS.SUN.LUMINOSITY'"
                                            [translateParams]="{lum: currentSunSelected.luminosidad}">
                                        </span>
                                    </mat-list-item>
                                    <mat-list-item *ngIf="currentSunSelected.radio !== 0" class="less-font">
                                        <mat-icon>info</mat-icon>
                                        <span [translate]="'DETAILS.SUN.RADIUS'"
                                            [translateParams]="{rad: currentSunSelected.radio}">
                                        </span>
                                    </mat-list-item>
                                    <mat-list-item *ngIf="currentSunSelected.magnitudAbsoluta !== 0" class="less-font">
                                        <mat-icon>info</mat-icon>
                                        <span [translate]="'DETAILS.SUN.MAGNITUDE'"
                                            [translateParams]="{magnitude: currentSunSelected.magnitudAbsoluta}">
                                        </span>
                                    </mat-list-item>
                                    <mat-list-item *ngIf="currentSunSelected.masa !== 0" class="less-font">
                                        <mat-icon>info</mat-icon>
                                        <span [translate]="'DETAILS.SUN.MASS'"
                                            [translateParams]="{mass: currentSunSelected.masa}">
                                        </span>
                                    </mat-list-item>
                                    <mat-list-item *ngIf="currentSunSelected.secuencia" class="less-font">
                                        <mat-icon>info</mat-icon>
                                        <span [translate]="'DETAILS.SUN.SEQUENCE'"
                                            [translateParams]="{seq: getSequenceTranslation(currentSunSelected.secuencia)}">
                                        </span>
                                    </mat-list-item>
                                    <mat-list-item *ngIf="currentSunSelected.temperatura !== 0" class="less-font">
                                        <mat-icon>info</mat-icon>
                                        <span [translate]="'DETAILS.SUN.TEMP'"
                                            [translateParams]="{temp: currentSunSelected.temperatura}">
                                        </span>
                                    </mat-list-item>
                                    <mat-list-item *ngIf="currentSunSelected.tipoEspectral" class="less-font">
                                        <mat-icon>info</mat-icon>
                                        <span [translate]="'DETAILS.SUN.SPECTRAL'"
                                            [translateParams]="{spec: currentSunSelected.tipoEspectral}">
                                        </span>
                                    </mat-list-item>
                                </mat-list>
                            </mat-tab>
                            <mat-tab label="{{ 'DETAILS.DESCRIPTION' | translate }}">
                                <mat-list dense>
                                    <mat-list-item
                                        *ngFor="let description of currentSunSelected.descripciones | keyvalue"
                                        class="less-font">
                                        <mat-icon>info</mat-icon>{{description.value}}
                                    </mat-list-item>
                                </mat-list>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                    <ng-template #selectCorp>
                        <span>{{ 'DETAILS.SELECT_SOMETHING' | translate }}</span>
                    </ng-template>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>