.space-background {
    background-image: url('../../assets/planets/Space.png');
    background-size: contain;
    background-repeat: repeat;
}

/* .form-background {
    background-color: #21054E;
}

.planet-detail-background {
    background-color: #502E7B;
} */