.space-background {
    background-image: url('../../assets/planets/Space.png');
    background-size: contain;
    background-repeat: repeat;
}

.sun {
    background-image: url('../../assets/planets/Sun.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.form-style {
    height: 100%;
    margin: 10px;
}

.planet-detail-style {
    height: 100%;
    margin: 10px 10px 10px 0px;
}

.radio-group-spacer mat-radio-button {
    margin-right: 5px;
}