.space-background {
    background-image: url('../../assets/planets/Space.png');
    background-size: contain;
    background-repeat: repeat;
}

.form-style {
    height: 100%;
    margin: 10px;
}

.planet-detail-style {
    height: 100%;
    margin: 10px 10px 10px 0px;
}
